<form ng-controller="formController">
  <div ng-repeat="hof in names">
    <div class="checkbox checkbox-circle checkbox-success">
      <input type="checkbox" id="checkbox{{$index+1}}">
      <label for="checkbox{{$index+1}}">
          {{hof.name}}
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>