@import '../shared/base.scss';

.homeContainer{
	margin:auto;
	padding:0;
	width:75%;
	.control-label{
		text-align: right;
	}
	.alert-danger{
		margin-top: 10px;
		display:none;
	}
	#submit:hover + #invalid-alert{
	    display:block;
	}
}