.content-container{
	background-color: #3df;
	width:100%;
	margin:0;
	padding:0;
}

html,body{
	margin:10px;
	padding:0;
	background-color:green;
}
.navbar{
}
.footer-text{
	margin-top: 100px;
}
.fa-hide{
	color: #fff;
}

